@charset "UTF-8";

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.ps-cart__items::-webkit-scrollbar {
    width: 5px;
}

.ps-cart__items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ps-cart__items::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.search-table::-webkit-scrollbar {
    width: 5px;
}

.search-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.mega-menu .card::-webkit-scrollbar {
    width: 3px;
}

.mega-menu .card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mega-menu .card::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.category-scroll::-webkit-scrollbar {
    width: 2px;
}

.category-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.category-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


@-moz-document url-prefix() {
    body::-webkit-scrollbar {
        width: 12px;
    }

    body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }


    .search-table::-webkit-scrollbar {
        width: 12px;
    }

    .search-table::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .search-table::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
    
    
    .mega-menu .card::-webkit-scrollbar {
    width: 3px;
}

.mega-menu .card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mega-menu .card::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}



.category-scroll::-webkit-scrollbar {
    width: 2px;
}

.category-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.category-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


}

.p-bottom-30 {
    padding-bottom: 30px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-lr-10 {
    padding: 0 10px;
}

.p-lr-20 {
    padding: 0 20px;
}

._2oLsaWi9Nj:not(:last-child) {
    margin-bottom: 20px;
}

._2oLsaWi9Nj {
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 0;
}

._2oLsaWi9Nj:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-bottom: -1px;
    width: 5px;
    background-color: #41b468;
    border-radius: 4px 0 0 4px;
    margin-left: -5px;
    margin-top: -1px;
    box-sizing: border-box;
}

._3wII7s9lsM {
    display: flex;
    flex-direction: row;
    align-brand-items: flex-start;
}

._3oGH8BD26C {
    height: 30px;
}

._3oGH8BD26C {
    border-top: 1px solid #eee;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-brand-items: center;
    color: #888;
    fill: #888;
    font-size: 14px;
}

._1LldmlWOje {
    color: inherit;
    font-size: inherit;
    flex: 1;
    font-size: 22px;
}

._2qea2ZM2jo {
    fill: inherit;
    display: inline-flex;
    align-brand-items: center;
    flex: 1;
    color: inherit;
    font-size: inherit;
}

._3zeUfCZnvZ {
    margin-left: 20px;
}

.w-20 {
    width: 20%;
}

.h-600 {
    height: 55vh;
    overflow-y: scroll;
}

.h-400 {
    height: 65vh;
}

.w-15 {
    width: 15% !important;
}

.w-13 {
    width: 13%;
}

.w-90 {
    width: 90% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-300 {
    width: 300px;
}

.w-10 {
    width: 10%;
}

.br-10 {
    border-radius: 10px;
}

.f-s-16{
    font-size: 16px;
}

.wishlist{
    cursor: pointer;
}

.profile-card-2 {
    max-width: 300px;
    max-height: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.brand-logo {
    max-width: 300px;
}

.profile-name {
    text-align: center;
    font-size: 20px;
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.widget_vendor-shop {
    border: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.section__header {
    padding: 20px 0 0 20px;
}

.widget_vendor-shop-content {
    padding: 0 !important;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-83 {
    width: 83%;
}

.store-border {
    border-radius: 1.25rem !important;
}

.shop_by_store {
    height: 175px;
}

/*Akash starts*/
#homepage-5 {
    background-color: #eeeeee;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 25% !important;
    left: 25% !important;
    width: 50% !important;
    text-align: center;
}

/*for campaign live now text*/
.campaign-img {
    position: relative;
}

.live-now {
    position: absolute;
    right: 20px;
    top: 20px;
}

/*for campaign live now text*/

/*for comparison product image*/
.table-compare-img {
    max-width: 350px !important;
    max-height: 250px !important;
}

/*compare margin*/
.margin-compare {
    margin: 0 10% !important;
}

.ps-table--shopping-cart tbody tr td:last-child a {
    font-size: 16px !important;
}

/*akash ends*/

.variant-select {
    width: 40px;
    margin: 0 10px;
}

.variant-select input {
    display: none;
}

.variant-select label {
    display: block;
    background-color: #ddd;
    margin-top: 0.1em;
    cursor: pointer;
    padding: 20px 20px;
}

.variant-select label:hover {
    transition: 0.4s ease-in-out;
    background-color: #c4c4c4;
}

.variant-select input:checked+label {
    transition: 0.2s ease-in-out;
    background-color: #3e3e49;
    outline: 5px #3e3e49 solid;
    color: #fff;
    font-weight: 700;
}

.variant-select input:disabled+label {
    background-color: #ccc;
    color: #fff;
    font-weight: 700;
}

.variant-select__title {
    display: inline;
    vertical-align: middle;
}

.variant-select__colorbox {
    float: left;
    display: inline;
    width: 25px;
    height: 25px;
    margin-left: -12px;
    margin-top: -12px;
}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: "";
    z-index: 1;
}

.steps .step .step-icon-wrap::before {
    left: 0;
}

.steps .step .step-icon-wrap::after {
    right: 0;
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5;
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500;
}

.steps .step:first-child .step-icon-wrap::before {
    display: none;
}

.steps .step:last-child .step-icon-wrap::after {
    display: none;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef;
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff;
}

@media (max-width: 576px) {

    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

@media (max-width: 768px) {

    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

@media (max-width: 991px) {

    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

@media (max-width: 1200px) {

    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none;
    }
}

.bg-faded,
.bg-secondary {
    background-color: #f5f5f5 !important;
}

.input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.ps-table--shopping-cart tbody tr td .form-group--number {
    max-width: 100%;
}

.starrating>input {
    display: none;
}

/* Remove radio buttons */

.starrating>label:before {
    content: "\f005";
    /* Star */
    margin: 2px;
    font-size: 4em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating>label {
    color: #222222;
    /* Start color when not clicked */
}

.starrating>input:checked~label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating>input:hover~label {
    color: #ffca08;
}

/* Set yellow color when star hover */

.fs-20 {
    font-size: 20px;
}

.customer-rating .checked {
    color: orange;
}

.btn-grey {
    background-color: #d8d8d8;
    color: #fff;
}

.rating-block {
    background-color: #fafafa;
    border: 1px solid #efefef;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}

.bold {
    font-weight: 700;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-20 {
    padding: 20px !important;
}

.review-block {
    background-color: #fafafa;
    border: 1px solid #efefef;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.review-block-name {
    font-size: 12px;
    margin: 10px 0;
}

.review-block-date {
    font-size: 12px;
}

.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}

.review-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-block-description {
    font-size: 13px;
}

.invalid {
    color: red;
}


.ps-layout--shop .ps-layout__left {
    z-index: 1;
}

.search-table {
    position: absolute;
    top: 95%;
    background: #fff;
    width: 100%;
    z-index: 101;
    margin-top: 10px;
    border-radius: 15px;
    
    height: 60vh;
    overflow-y: scroll;
}

.search-table tbody {
    border-bottom: 1px solid #95a5a6;
}

/* Seller Registration */

.seller-card.show {
    display: block !important;
}

.seller-card {
    display: none;
    background-color: #e0f7fa;
    border: 1px solid #e0f7fa;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.step-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 99.85%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%;
}

.step-box {
    padding: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fff;
}

.seller-active {
    background-color: #2196f3;
    color: #fff !important;
    border-left: 1px solid #2196f3;
    border-right: 1px solid #2196f3;
}

.seller-active .fa-circle {
    background-color: #fff !important;
    color: #2196f3;
}

.fa-check {
    border-radius: 50%;
    background-color: #00c853;
    color: #fff;
    padding: 3px;
}

.step-title-0 {
    margin-bottom: 0px;
}

.step-title {
    font-size: 13px;
    position: relative;
    margin-left: 4px;
}

.heading {
    margin-bottom: 40px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none;
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label span {
    transform: scale(1.25);
    border-radius: 50%;
}

input[type="radio"]:checked+label .variant_color {
    border: 2px solid #000;
}

.variant_label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.variant_unit {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 0 10px;
    border-radius: 5px;
}

.variant_label:hover span {
    transform: scale(1.25);
}

.variant_label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

.camp-steps {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Choose all input elements that have the attribute: type="radio"
and make them disappear.*/
input[type="radio"] {
    display: none;
}

.blank-label {
    display: none;
}

/* The '+' is the adjacent sibling selector.
It selects what ever element comes right after it,
as long as it is a sibling. */
input[type="radio"]:checked+label.variant_unit {
    background: grey;
    color: #fff;
}
.ps-form--quick-search .form-group--icon {
    border-radius: 0px;
}

.ps-form--quick-search select.form-control {
    border-radius: 0px;
    border-left: 1px solid #ccc;
}

.ps-form--quick-search .form-control {
    border-radius: 50px 0 0 50px;
}

.header .header__top .ps-container,
.header .header__top .container {
    align-items: center;
}

.ps-form--quick-search button {
    background-color: #0c63e7;
    color: white;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
}

.header .header__extra {
    color: white;
}

.header .header__extra i {
    transition: all 0.3s ease;
}

.header .header__extra:hover i {
    color: white;
}

.header .header__extra span {
    color: #ffffff !important;
    background-color: #ff5a5f;
}

.ps-product--cart-mobile .ps-product__content a {
    color: #2e294e;
}

.navigation {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.ps-home-banner.pb-5 {
    padding-top: 30px;
}

.menu--product-categories .menu__toggle:before {
    display: none;
}

.menu--product-categories .menu__toggle span {
    color: #ff5a5f;
    text-transform: capitalize;
}

.menu--product-categories .menu__toggle i {
    color: #ff5a5f;
}

.menu--dropdown>li:hover {
    background-color: #ff5a5f;
}

.menu--dropdown>li:hover>a {
    color: white;
}

.ps-product--cart-mobile .ps-product__content a:hover {
    color: #ff5a5f;
}

.ps-btn,
button.ps-btn {
    background-color: #ff5a5f;
    color: white;
}

.ps-cart--mini .ps-cart__footer h3 strong {
    color: #ff5a5f;
}

img.ps-block--user-header-img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.247);
}

.nav-top {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #2b2840;
}

.navigation__extra>li a {
    color: white;
}

.navigation__extra>li:after {
    background-color: white;
}

.ps-block--user-header .ps-block__left i {
    color: white;
}

.ps-block--user-header {
    align-items: center;
}

.ps-block--user-header .ps-block__right a {
    font-weight: 500;
    color: white;
}

.mega-menu .mega-menu__list li a:hover {
    color: #ff5a5f;
}

.logo-vendor-desktop {
    max-height: 48px !important;
    max-width: 172px !important;
}

.ps-carousel--nav .owl-nav>* i {
    font-size: 16px;
}

.ps-carousel--dots .owl-dots .owl-dot:hover,
.ps-carousel--dots .owl-dots .owl-dot.active {
    background-color: #ff5a5f;
}

.ps-block--categories-tabs .ps-tab-list a:hover {
    border-color: transparent;
}

.ps-block--categories-tabs .ps-tabs {
    border-top: 1px solid #ececec80;
}

.ps-block--categories-tabs {
    box-shadow: 0 5px 15px silver;
    border-radius: 5px;
}

.product-box-img {
    margin: 10px;
    overflow: hidden;
}

.product-box-link {
    background: white;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.product-box-link:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.158);
}

.product-box-text {
    margin-bottom: 10px;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
}

.ps-block--categories-tabs .ps-block__item a {
    display: block;
    max-width: calc(100% / 2);
    margin-bottom: 40px;
    overflow: hidden;
}

.ps-search-trending .ps-section__header h3 {
    font-size: 24px;
}

.ps-section__header h3 {
    font-size: 24px;
    font-weight: 400;
}

.store_section {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
}

.info-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.info-list__item {
    color: #666;
    margin-bottom: 10px;
}

.info-list__icon {
    margin-right: 5px;
    font-size: 18px;
    line-height: 1;
}

.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.social-list__item {
    margin-right: 10px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    transition: all .3s ease;
}

.social-list__icon:hover {
    color: white;
    box-shadow: 0 5px 15px rgba(7, 3, 24, 0.315);
}

.social-list__icon-fb {
    background: #1877F2;
    color: white;
}

.social-list__icon-tw {
    background: #1DA1F2;
    color: white;
}

.social-list__icon-pin {
    background: #E60023;
    color: white;
}

.social-list__icon-lin {
    background: #0073B0;
    color: white;
}

.social-list__icon-insta {
    background: #E5466F;
    color: white;
}

.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-list__item {
    margin-bottom: 10px;
}

.footer-list__item:last-child {
    margin-bottom: 0;
}


.ps-footer--3 .ps-block--site-features {
    margin-bottom: 30px;
    border-bottom: none;
}


.product-card {
    display: block;
    position: relative;
    transition: all .3s ease;
    border: 1px solid #dcdde1;
    padding: 10px;
    transition: all .3s ease;
    background: white;
    border-radius: 5px;
    height: 325px;
}




.product-card:hover {
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.116);
}


.product-card:hover .product-card__img-wrapper img {
    transform: scale(1.1);
}


.product-card:hover .product-card__action {
    opacity: 1;
    z-index: 99;
}


.product-card__action {
    border: 1px solid #ccc;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s ease;
    opacity: 0;
}


.product-card__action-is {
    border-top: 1px solid #ccc;
    background: white;
    line-height: 1;
    padding: 8px;
    color: #666;
    transition: all .3s ease;
}


.product-card__action-is:first-child {
    border-top: none;
}


.product-card__action-is:hover {
    background: #ff5a5f;
    color: white;
}

.product-card__img-wrapper {
    transition: all .3s ease;
    display: block;
    overflow: hidden;
    min-height: 210px;
    margin: 0 auto;
    text-align: center;
}




.trending-product-card {
    display: block;
    position: relative;
    transition: all .3s ease;
    border: 1px solid #ccc;
    padding: 10px;
    transition: all .3s ease;
    background: white;
    border-radius: 5px;
    height: 210px;
    text-align: center;
}

.trending-product-card__img-wrapper {
    transition: all .3s ease;
    display: block;
    overflow: hidden;
    min-height: 0px;
}


.brand-product-card {
    display: block;
    position: relative;
    transition: all .3s ease;
    border: 1px solid #ccc;
    padding: 10px;
    transition: all .3s ease;
    background: white;
    border-radius: 5px;
    text-align: center;
}

.brand-product-card__img-wrapper {
    transition: all .3s ease;
    display: block;
    overflow: hidden;
    min-height: 0px;
}

.store-product-card {
    display: block;
    position: relative;
    transition: all .3s ease;
    border: 1px solid #ccc;
    padding: 10px;
    transition: all .3s ease;
    background: white;
    border-radius: 5px;
    text-align: center;
    height: 225px;
}

.store-product-card__img-wrapper {
    transition: all .3s ease;
    display: block;
    overflow: hidden;
    min-height: 0px;
}

.product-card__img-wrapper img {
    transition: all .3s ease;
}

.product-card__title {
    display: block;
    margin-top: 10px;
    color: #0073B0;
    transition: all .3s ease;
}

.product-card__title:hover {
    color: #ff5a5f;

}

.product-card__price {
    display: inline-block;
    color: #666;
}

.product-card__discount-price {
    display: inline-block;
    color: #ff5a5f;
}

.ratings {
    display: flex;
}

.ratings__star {
    display: inline-block;
    margin-right: 5px;
    color: #FCB800;
}

.ps-search-trending {
    padding: 40px 0;
}

.ps-block--product-box .ps-block__products .row>* {
    padding: 8px;
}

.t-mt-10 {
    margin-top: 10px;
}

.t-mt-30 {
    margin-top: 30px;
}

.t-mt-50 {
    margin-top: 50px;
}

.t-mb-30 {
    margin-bottom: 30px;
}

.t-mr-5 {
    margin-right: 5px;
}

.t-pt-50 {
    padding-top: 50px;
}

.t-pt-70 {
    padding-top: 70px;
}

.t-pb-70 {
    padding-bottom: 70px;
}

.t-pb-30 {
    padding-bottom: 30px;
}

.ps-product .ps-product__title {
    color: #007bff;
    font-size: 24px;
    font-weight: 500;
}

.ps-vendor-store .ps-section__container .ps-section__right {
    padding-right: 30px;
}

.ps-cart__items{
    overflow-y: scroll;
}

/* ---------------------------

Media Screen

-------------------------------*/
@media screen and (max-width: 479px) {
    .ps-block--categories-tabs .ps-block__item a {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media (min-width: 480px) {
    .ps-block--categories-tabs .ps-block__item a {
        max-width: calc(100% / 3);
    }

    .ps-block--categories-tabs .ps-block__item {
        margin-bottom: 0;
    }

}

@media (max-width: 480px) {

    .trending-product-card .store-product-card {
        height: 400px;
    }

    .store-product-card {
        height: 400px;
    }
    
    .product-card{
        height: 400px;
    }

}

@media (min-width: 767px) {
    .ps-block--categories-tabs .ps-block__item a {
        max-width: calc(100% / 3);
    }
}

@media (min-width: 991px) {
    .ps-block--categories-tabs .ps-block__item a {
        max-width: calc(100% / 4);
        width: auto;
    }
}


@media screen and (min-width: 1199px) {
    .ps-form--quick-search button {
        background-color: #ff5a5f;
    }
}


/*akash custom css single product*/
.navigation--mobile-product {
    display: none;
}

.show-products-mobile {
    display: block !important;
}




/* Preloader */

.many-content {
    width: 100%;
    height: 100%;
    background-color: #2980b9;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.many-content .loading {
    width: 80px;
    height: 50px;
    position: relative;
}

.many-content .loading p {
    top: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    -webkit-animation: text 3.5s ease both infinite;
    animation: text 3.5s ease both infinite;
    font-size: 12px;
    letter-spacing: 1px;
}

@-webkit-keyframes text {
    0% {
        letter-spacing: 1px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        -webkit-transform: translateX(32px);
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes text {
    0% {
        letter-spacing: 1px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        -webkit-transform: translateX(32px);
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.many-content .loading span {
    background-color: #e74c3c;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    -webkit-transform: translateX(64px);
    transform: translateX(64px);
    -webkit-animation: loading 3.5s ease both infinite;
    animation: loading 3.5s ease both infinite;
}

.many-content .loading span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    border-radius: inherit;
    -webkit-animation: loading2 3.5s ease both infinite;
    animation: loading2 3.5s ease both infinite;
}

@-webkit-keyframes loading {
    0% {
        width: 16px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        -webkit-transform: translateX(64px);
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes loading {
    0% {
        width: 16px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        -webkit-transform: translateX(64px);
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes loading2 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        width: 16px;
    }
}

@keyframes loading2 {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        width: 16px;
    }
}

.ps-product__price,
.product-card__body {
    text-align: center;
}

.mega-menu{
    width: 800px !important;
    height: 500px;
}

.menu__content .card{
    overflow-y: scroll;

}

.brand-overflow{
    overflow: auto;
}



.ps-block--category-2{
    background: #fff;
}

.ps-block--category-2:hover {
    border-color: #0c63e7;
}


.may-like{
    text-align: left;
}

.category-scroll{
    height: 388px;
    overflow-y: scroll;
}

.mobile-application{
    height: 40px !important;
    min-width: 100px !important;
}