.header--kids .header__extra > i {
  color: #fff;
}

.header--kids .header__extra span {
  background-color: #ff5a5f;
}

.header--kids .header__extra span i {
  color: #fff;
}

.header--kids .header__extra:hover > i {
  color: #fff;
}

.header--kids .header__extra:hover span {
  color: #fff;
}

.header--kids .ps-block--user-header .ps-block__left i {
  color: #fff;
}

.header--kids .ps-block--user-header .ps-block__right a {
  color: #fff;
}

.header--kids .ps-block--user-header a:hover {
  color: #ff5a5f;
}

.header--kids .header__top {
  padding: 25px 0;
  background-color: #3078a6;
}

.header--kids .menu > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header--kids .navigation__extra > li:after {
  background-color: #fff;
}

.header--kids .navigation__extra > li > a {
  color: #ffffff;
}

.header--kids .navigation__extra > li > a:hover {
  text-decoration: underline;
}

.header--kids .navigation__extra > li .ps-dropdown > a {
  color: #fff;
}

.header--kids .menu--product-categories .menu__toggle {
  color: #fff;
}

.header--kids .menu--product-categories .menu__toggle span {
  color: #fff;
}

.header--kids .menu--product-categories .menu__toggle:before {
  height: 2px;
  background-color: #ff5a5f;
}

.header--kids .navigation {
  position: relative;
  background-color: #3078a6;
  border-top: 1px solid #4888b0;
}

.header--kids .navigation:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 10px;
  background-image: url(../img/bg/header-kid.svg);
  background-repeat: repeat-x;
}

.header--kids .navigation .container {
  position: relative;
}

.header--kids .menu--recent-view {
  position: static;
}

.header--kids .menu--recent-view .menu-item-has-children {
  position: static;
}

.header--kids .menu--recent-view .menu-item-has-children a {
  font-size: 16px;
  color: #fff;
}

.header--kids .menu--recent-view .menu-item-has-children:hover .navigation__recent-products {
  visibility: visible;
  opacity: 1;
}

.header--kids .navigation__recent-products {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 1170px;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  z-index: 100;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  visibility: hidden;
  opacity: 0;
}

.header--kids .navigation__recent-products p {
  margin-bottom: 0;
  text-align: center;
}

.header--kids .navigation__recent-products p a {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
}

.header--kids .navigation__recent-products .owl-nav .owl-prev {
  margin-left: -30px;
}

.header--kids .navigation__recent-products .owl-nav .owl-next {
  margin-right: -30px;
}

.header--kids .navigation__recent-products .owl-slider .owl-item a {
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

.header--kids .navigation__recent-products .owl-slider .owl-item a:hover {
  border-color: #ff5a5f;
}

.header--kids.header--sticky .navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header--kids.header--sticky .header__top .menu--product-categories span {
  display: block;
}

.header--kids.header--sticky .header__top .menu--product-categories .menu__content:before {
  right: auto;
  left: 55px;
}

.header--kids.header--sticky .header__top .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.ps-promotion-kids {
  background: url(../img/bg/home-kids-promotion.jpg) repeat-x;
}

.menu--dropdown li a i {
  color: #3e81ac;
}

.header--mobile-kids {
  background-color: #3078a6;
}

.header--mobile-kids .header__extra > i {
  color: #fff;
}

.header--mobile-kids .header__extra span {
  background-color: #ff5a5f;
}

.header--mobile-kids .header__extra span i {
  color: #fff;
}

.header--mobile-kids .header__extra:hover > i {
  color: #fff;
}

.header--mobile-kids .header__extra:hover span {
  color: #fff;
}

.header--mobile-kids .ps-block--user-header .ps-block__left i {
  color: #fff;
}

.header--mobile-kids .ps-block--user-header .ps-block__right a {
  color: #fff;
}

.header--mobile-kids .ps-block--user-header a:hover {
  color: #ff5a5f;
}

.header--mobile-kids.header--sticky .navigation--mobile {
  background-color: #3078a6;
}

#homepage-kids {
  padding: 70px 0;
  background-image: url("../img/bg/home-kids.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

#homepage-kids .ps-home-banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

#homepage-kids .ps-home-banner > * {
  width: 100%;
}

#homepage-kids .ps-home-banner .owl-slider .owl-item img {
  width: 100%;
}

#homepage-kids .ps-home-banner .ps-section__left {
  position: relative;
  max-width: 270px;
  background-color: #ffffff;
}

#homepage-kids .ps-home-banner .ps-section__left .menu--dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}

#homepage-kids .ps-home-banner .ps-section__left .menu--dropdown > li > a {
  line-height: 16px;
}

#homepage-kids .ps-home-banner .ps-section__left .mega-menu {
  z-index: 100;
  min-height: 100%;
}

#homepage-kids .ps-home-banner .ps-section__center {
  max-width: calc(100% - 652px);
}

#homepage-kids .ps-home-banner .ps-section__center img {
  width: 100%;
}

#homepage-kids .ps-home-banner .ps-section__center .owl-slider {
  max-width: 100%;
}

#homepage-kids .ps-home-banner .ps-section__right {
  max-width: 382px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#homepage-kids .ps-home-banner .ps-section__right > a {
  display: block;
  max-width: 50%;
  width: 100%;
  flex-basis: 50%;
}

#homepage-kids .ps-home-banner .ps-section__right > a img {
  width: 100%;
}

#homepage-kids .ps-home-banner .ps-section__right > a.wide {
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 1199px) {
  #homepage-kids .ps-home-banner .ps-section__left {
    display: none;
  }
}

@media (max-width: 991px) {
  #homepage-kids .ps-home-banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  #homepage-kids .ps-home-banner .container .ps-section__center {
    max-width: 100%;
  }
  #homepage-kids .ps-home-banner .container .ps-section__right {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  #homepage-kids .ps-home-collection {
    margin-bottom: 60px;
  }
}

#homepage-kids .ps-best-sale-brands .ps-section__content {
  background-color: #fff;
}

@media (max-width: 767px) {
  #homepage-kids .ps-best-sale-brands {
    padding: 40px 0;
  }
}

#homepage-kids .ps-search-trending .ps-tab {
  padding: 60px 60px 20px;
}

#homepage-kids .ps-search-trending .ps-block--categories-tabs .ps-tab-list a:hover i, #homepage-kids .ps-search-trending .ps-block--categories-tabs .ps-tab-list a.active i {
  color: #3e81ac;
}

#homepage-kids .ps-search-trending .ps-section__header h3 {
  font-weight: 600;
}

@media (max-width: 768px) {
  #homepage-kids .ps-search-trending {
    margin: 0 auto;
  }
  #homepage-kids .ps-search-trending .ps-tab {
    padding: 60px 15px 20px;
  }
}

#homepage-kids .ps-deal-of-day {
  margin-bottom: 30px;
}

#homepage-kids .ps-deal-of-day .ps-product .ps-product__price {
  color: #690;
  font-size: 18px;
}

#homepage-kids .ps-deal-of-day .ps-product .ps-product__price del {
  margin-left: 10px;
  font-size: 14px;
}

#homepage-kids .ps-deal-of-day .ps-product .ps-product__price small {
  margin-left: 10px;
  color: red;
}

#homepage-kids .ps-deal-of-day .ps-section__header, #homepage-kids .ps-deal-of-day .ps-section__content {
  background-color: #fff;
}

#homepage-kids .ps-deal-of-day .ps-section__header {
  margin-bottom: 0;
  padding: 20px 20px 10px;
}

#homepage-kids .ps-deal-of-day .ps-section__content {
  padding: 60px 30px 30px;
}

#homepage-kids .ps-home-promotions {
  margin: 0 0 30px;
}

#homepage-kids .ps-block--products-of-category h3 {
  font-weight: 600;
}
