.table-avatar{
    height: 40px !important;
    width: 60px !important;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 15%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-13 {
    width: 13%;
}

.w-5 {
    width: 5%;
}

.p-10 {
    padding: 10px;
}

.w-40{
    width: 40%;
}

.lh-1{
    line-height: 1;
}

.btn-export{
    background-color: #5a189a;
    color: #fff;
}

.btn-purple{
    background-color: #6c5ce7;
    color: #fff;
}

.btn-yellow{
    background-color: #f1c40f;
    color: #000;
}

.btn-confirm{
    background-color: #be2edd;
    color: #fff;
}

.btn-delivered{
    background-color: #6ab04c;
    color: #fff;
}

.btn-processing{
    background-color: #006266;
    color: #fff;
}

.btn-qc{
    background-color: #ff7f50;
    color: #fff;
}

.btn-dispatched{
    background-color: #ffb142;
    color: #000;
}

.bg-newOrder{
    background-color: rgba(241, 196, 15, 0.4);
}

.bg-confirmed{
    background-color: rgba(190, 46, 221, 0.4);
}

.bg-delivered {
    background-color: rgba(106, 176, 76c, 0.4);
}

.bg-canceled {
    background-color: rgba(220, 53, 69, 0.4);
}

.bg-follow_up {
    background-color: rgba(23, 162, 184, 0.4);
}

.bg-processing {
    background-color: rgba(0, 98, 102, 0.4);
}

.bg-quality_check {
    background-color: rgba(255, 127, 80, 0.4);
}

.bg-product_dispatched {
    background-color: rgba(255, 177, 66, 0.4);
}

.page-link {
    position: relative;
    display: block;
    padding: 0.4rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 11px;
    margin: 0px 1px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #ff5a5f;
    border-color: #d8d8d8;
}

.installui{
    height: 74vh;
    display: flex;
}
.setup-card {
    width: 16.9rem;
    height: 18rem;
}

.setup-card-img {
    display: flex;
    margin: auto;
}

.purchase_code{
    height: 100px;
}

.btn-purchase_code{
    height:60px;
}

.no-w-h{
    width: 0px;
    height: 0%;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15%;
    text-align: center;
    font: 20pt bold'Vollkorn';
    color: #bbb;
    cursor: pointer;
}

#drop_zone:hover {
    border: 2px dashed #666666;
    color: #666666;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -o-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

#byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

#byte_range {
    margin-top: 5px;
}
